body {
  position: relative;
}

/* Header -css */
.header {
  position: sticky;
  top: 0%;
  padding-top: 5%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.headerIcons {
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar {
    font-size: max(5vw, 4rem);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

/* Hero - css */
.hero {
  font-size: 1.5rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.heroDiv2 {
  align-self: flex-end;
}

.heroIntro {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.heroH1 {
  font-size: max(3vw, 2.5rem);
}

.heroIcons {
  display: flex;
  align-items: center;
  gap: 2rem;
  cursor: pointer;
}

.eachHeroIcons:hover {
  color: #9f55ff;
}

.heroBtn {
  width: 10rem;
}

.herogif {
  width: 600px;
  mix-blend-mode: hard-light;
}

@media (max-width: 960px) {
  .hero {
    align-items: center;
  }

  .heroDiv2 {
    display: none;
  }
}

/* About */

.about {
  font-size: 3vw;
}

/* Skills -css */
.languagesAndTools {
  margin-block: 3rem;
}

.skillsContainer {
  margin-block: 0.5rem;
  display: flex;
  gap: 1.75rem;
}
.skillsImages {
  width: 50px;
}

.dbAndOther {
  display: flex;
  gap: 5rem;
  margin-block: 1.5rem;
}

/* Projects -css */
.projects {
  margin-top: 5rem;
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 3rem;  
}


.singleProject {
  padding: 0.5rem;
  border: 2px solid white;
  border-radius: 0.5rem ;
  background-color: rgba(255, 255, 255, 0.3);
}

.singleProject:hover {
  transition: transform 0.3s ease-in-out;
  transform: scale(1.2);
}


/* Work - css */
.workContainer {
  margin-top: 5rem;
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 3rem;  
}

.workContent {
  width: 25rem;
  padding: 0.5rem;
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
  border-radius: 0.5rem;

}

.work {
  height: 20rem;
  padding: 0.5rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.wok15 {
  flex-grow: 1.5;
}

.work70 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-weight: bold;
  flex-grow: 7;
}
.jobDescription {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;   
}

.certificate {
  padding-right: 0.5rem;
  display: flex;
  justify-content: space-between;
}

.numbering {
  display: flex;
  align-items: flex-start;
  gap: 4px;
}

/* Contact -- css */
.form {
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
}

.input-field {
  width: 50%;
  position: relative;
}

.input {
  color: white;
  position: relative;
  padding-left: 1em;
  width: 100%;
  min-height: 3em;
  background-color: transparent;
  border-radius: 0.5em;
  border: 2px solid #9f55ff;
  outline: none;
  z-index: 1;
}

.submitBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.input-label {
  position: absolute;
  left: 0.5em;
  top: 0.5em;
  display: flex;
  align-items: center;
  transition: all 0.5s;
}

.input:focus ~ .input-label,
.input:valid ~ .input-label {
  transform: translateY(-2rem);
  transition: all 0.5s;
  left: 0.25em;
}

.input:focus::placeholder {
  opacity: 0;
  transition: all 0.4s;
  transform: translateY(-2rem);
}



/* Footer - css */

.footer {
  margin-block: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.footerIcons {
  margin-block-end: 1rem;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.eachFooterIcon:hover {
  color: #9f55ff;
  transition: transform 0.5s ease-in-out;
  transform: scale(1.5);
  cursor: pointer;
}

.blinking-icon {
  animation: zoomInOut 1.25s infinite alternate;
  display: inline-block;
}

@keyframes zoomInOut {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}







