@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;600&display=swap');


* {
  margin: 0;
  padding: o;
  box-sizing: border-box;
  font-family: 'Roboto';
}

body {
  position: relative;
  background-color: black;
  color: #9f55ff;
  color: white;
}

::-webkit-scrollbar {
  width: 0.4rem;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(112, 0, 255, 0.75);
  opacity: 0.5;
  border-radius: 1rem;
  transition: all 0.2s;
}

::-webkit-scrollbar-thumb:hover {
  background: theme("colors.indigo.dark");
  opacity: 1;
}

section {
  height: 100vh;
  
}

.coloredH1 {
  margin-bottom: 1rem;
  padding-left: 0.5rem;
  font-size: 3rem;
  background: linear-gradient(90deg, #9f55ff, #7000ff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
